{% extends "::base.html.twig" %}

{% block content %}
    <h1>Nation Builder Exercises</h1>

    <a href="{{ path('oauth') }}">Authenticate</a>


{% endblock content %}

{% block endjavascripts %}
{% endblock %}