{% extends "::base.html.twig" %}

{% block content %}
    <h1>New Event</h1>

    <div class="row">

        <form action="{{ path('create_event') }}" method="post">
            {{ include('AppBundle:Events:fields.html.twig') }}
            <button class="btn btn-danger" type="submit">Create</button>
        </form>

    </div>

{% endblock content %}

{% block endjavascripts %}
{% endblock %}